<!DOCTYPE html5>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Admin Dashboard</title>
    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body>
    <h2>Sysadmin Dashboard</h2>
    <h3>Add Moderator</h3>
    <input id="email" type="email" placeholder="email"/>
    <input id="password" type="password" placeholder="password"/>
    <input id="firstName" type="text" placeholder="First Name"/>
    <input id="lastName" type="text" placeholder="Last Name"/>
    <input id="username" type="text" placeholder="username"/>
    <button id="submit">Submit</button>
    <br/>
    <div id="error"></div>
  </body>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/ejs_production.js"></script>
  <script>
  var user = {};
    $("#email").change(function(event){
      user.email=$("#email").val();
    });
    $("#password").change(function(event){
      user.password=$("#password").val();
    });
    $("#firstName").change(function(event){
      user.firstName=$("#firstName").val();
    });
    $("#lastName").change(function(event){
      user.lastName=$("#lastName").val();
    });
    $("#username").change(function(event){
      user.username=$("#username").val();
    });
    $("#submit").click(function(event){
      user.roles = "Moderator";
      $.ajax({
        method: 'POST',
        url: "/auth/signupModerator",
        data: user
      }).done(function(response){
          $("#error").text("New moderator created");
      }).fail(function(response){
        console.log(response);
       $("#error").text(JSON.parse(response.responseText).message);
      });
    });
  </script>
</html>
